<!DOCTYPE html>
<html>
    <head>
        <title>Page 3</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="page3.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Welcome</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                	<a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="page1.html">Page1</a>
                    <a class="nav-item nav-link" href="page2.html">Page2</a>
                    <a class="nav-item nav-link" href="page3.html">Page3</a>
                    <a class="nav-item nav-link" href="page4.html">Page4</a>
                </div>
            </div>
        </nav>
        <div id="home" class="row">
            <div class="col-12 center">
            	<h4 class="font-white">RPL Week 12</h4>
            	<h1 class="font-white">Nigel Crispianius Felim</h1>
			</div>
		</div>
        <div id="aboutme" class="row white padding-32" >
			<div class="col-4 center padding-32" style="float:left;">
				<img class="circle" style="width:256px;height:256px;" src="gambar/fotoprofilnigel.jpg"/>
			</div>
			<div class="col-8 padding-16" style="float:left;">
				<h2>My Profile</h2>
			  	<p>Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Nigel Crispianius Felim</p>
			  	<p>NIM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 00000031601</p>
				<p>Prodi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Informatika</p>
			  	<p>Angkatan  : 2018</p>
			  	<p>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : nigel.crispianius@student.umn.ac.id</p>
			</div>
        </div>  
        <div id="project" class="row black padding-32">
            <div class="col-8 center padding-32">
                <h1 class="col-12 center font-white">Project</h1>
                <table>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Subject</th>
                            <th>Related Project</th>
                            <th>Desc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="No.">#1</td>
                            <td data-label="Subject">Algorithm and Data Structure</td>
                            <td data-label="Related Project">Algo's Final Project</td>
                            <td data-label="Desc">Restaurant Program Using C Language</td>
                        </tr>
                        <tr>
                            <td data-label="No.">#2</td>
                            <td data-label="Subject">Multimedia Concept</td>
                            <td data-label="Related Project">MC's Final Project</td>
                            <td data-label="Desc">Simple Daily Life Game Using Scratch</td>
                        </tr>
                        <tr>
                            <td data-label="No.">#3</td>
                            <td data-label="Subject">Database System</td>
                            <td data-label="Related Project">Database's Final Project</td>
                            <td data-label="Desc">Creating Databse For Restaurat</td>
                        </tr>
                        <tr>
                            <td data-label="No.">#4</td>
                            <td data-label="Subject">Web Programming</td>
                            <td data-label="Related Project">Web Programming's Mid Term Project</td>
                            <td data-label="Desc">Social Media Using PHP Without Frame</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 center padding-32" style="padding-top:128px;">
                <img src="gambar/project.jpg"/>
            </div>
        </div>
	<div id="credit" class="col-8 padding-16">
		<h5>Created By Nigel Crispianius Felim-00000031601</h5>
	</div>
    </body>
</html>
