<html>
<head>
<title>Biodata</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="view/page1">Page1</a>
                <a class="nav-item nav-link" href="view/page2">Page2</a>
                <a class="nav-item nav-link" href="view/page3">Page3</a>
                <a class="nav-item nav-link" href="view/page4">Page4</a>
            </div>
        </div>
    </nav>
<form action="#" style="width: 700px"class="posisi";>
<fieldset class="h"/>
<table style="width: 600px;">
<body style="background-color:Red"> </body>
<tr>
<td rowspan="10" width="100px">
<img src="https://i.pinimg.com/originals/a1/95/26/a19526aa1214191e435f67e1bbf6115d.png" width="150px" height="200px" border="5">
</td>
</tr>
<center>
<font size="25px">
<b>BIODATA</b>
</font>
</center>
<tr>
<td><b>NAMA</b></td>
<td>: Marco Keegan Shandry Harjono</td>
</tr>
<tr>
<td><b>NIM</b></td>
<td>: 27555</td>
</tr>
<tr>
<td><b>Tempat, Tanggal Lahir</b></td>
<td>: Cirebon, 02 Oktober 2000</td>
</tr>
<tr>
<td><b>ALAMAT</b></td>
<td>: Dukuh Semar No.33, Cirebon</td>
</tr>
<tr>
<td><b>JENIS KELAMIN</b></td>
<td>: Laki - Laki</td>
</tr>
</body>
</html>