<!DOCTYPE html>
<html>
    <head>
        <title>Page 3</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="page3.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Welcome</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                	<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="view/page1">Page1</a>
                    <a class="nav-item nav-link" href="view/page2">Page2</a>
                    <a class="nav-item nav-link" href="view/page3">Page3</a>
                    <a class="nav-item nav-link" href="view/page4">Page4</a>
                </div>
            </div>
        </nav>
        <div id="home" class="row">
            <div class="col-12 center">
            	<h4 class="font-white">RPL Week 12</h4>
            	<h1 class="font-white">Nigel Crispianius Felim</h1>
			</div>
		</div>
        <div id="aboutme" class="row white padding-32" >
			<div class="col-4 center padding-32" style="float:left;">
				<img class="circle" style="width:256px;height:256px;" src="gambar/fotoprofilnigel.jpg"/>
			</div>
			<div class="col-8 padding-16" style="float:left;">
				<h2>My Profile</h2>
			  	<p>Nama     : Nigel Crispianius Felim</p>
			  	<p>NIM      : 00000031601</p>
				<p>Prodi    : Informatika</p>
			  	<p>Angkatan : 2018</p>
			  	<p>Email    : nigel.crispianius@student.umn.ac.id</p>
			</div>
	  	</div>
    </body>
</html>
